{erl_opts, [no_debug_info]}.
{deps, [{gun, "1.3.1"},
        {mochiweb, "2.18.0"}]}.

{escript_incl_apps, [chatdemo_client, gun, cowlib]}.
{escript_main_app, chatdemo_client}.
{escript_name, chatdemo_client}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
             ]}]}.
